@font-face {
    font-family: 'cakefont';
    font-style: normal;
    font-weight: normal;
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('../font/cakedingbats-webfont.woff2') format('woff2'),
        url('../font/cakedingbats-webfont.woff') format('woff'),
        url('../font/cakedingbats-webfont.ttf') format('truetype'),
        url('../font/cakedingbats-webfont.svg#cake_dingbatsregular')
            format('svg');
}

.home {
    color: #404041;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 27px;
}

a {
    color: #0071bc;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover,
a:active {
    color: #d33d44;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

ul,
ol,
dl,
p {
    font-size: 0.85rem;
}

p {
    line-height: 2;
}

header {
    box-shadow: none;
    height: auto;
    line-height: 1em;
    padding: 0;
}

header.row {
    margin-bottom: 30px;
}

header .header-image {
    padding: 64px 0;
    text-align: center;
}

header .header-title {
    background: #404041;
    display: block;
    padding: 0;
    text-align: center;
}

header .header-title h1 {
    color: #deded5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    margin: 0;
    padding: 18px 30px;
}

header h1 {
    color: #fff;
}

h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 0;
}

.more {
    background-color: #d33d44;
    color: #ffffff;
    margin-top: 10px;
    padding: 15px;
}

.row {
    max-width: 1000px;
}

.alert {
    background-color: #fff9e1;
    border-bottom: 2px solid #ffcf06;
    display: block;
    font-size: 12px;
    padding: 12px;
    text-align: center;
}

.alert {
    background-color: #fff9e1;
    border-bottom: 2px solid #ffcf06;
    color: #404041;
    display: block;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 12px;
}

.alert p {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
}

.alert p:before {
    color: #ffcf06;
    content: '\0055';
    font-family: 'cakefont', sans-serif;
    font-size: 21px;
    margin-left: -0.8em;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px 0 15px;
    vertical-align: -2px;
    width: 2.3em;
}

.alert ul {
    font-size: 12px;
    margin: 0;
}

.alert.url-rewriting {
    background-color: #f0f0f0;
    border-color: #cccccc;
    display: none;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 0 30px 0;
}

li {
    padding-left: 1.8em;
}

ul li ul,
ul li ul li {
    margin: 0;
    padding: 0;
}

.bullet:before {
    display: inline-block;
    font-family: 'cakefont', sans-serif;
    font-size: 18px;
    margin-left: -1.3em;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
    width: 1.2em;
}

.success:before {
    color: #88c671;
    content: '\0056';
}

.problem:before {
    color: #d33d44;
    content: '\0057';
}

.cutlery:before {
    color: #404041;
    content: '\0059';
}

.book:before {
    color: #404041;
    content: '\0042';
    width: 1.7em;
}

hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.icon {
    color: #404041;
    font-family: 'cakefont', sans-serif;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
}
.icon.support {
    font-size: 60px;
}
.icon.docs {
    font-size: 57px;
}
.icon.training {
    font-size: 39px;
}

@media (min-width: 768px) {
    .columns {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 992px) {
    header.row {
        max-width: 940px;
    }
}
